<div class="container">
    <Form class="login-form login-form--login">
        <div class="login-form-content">
            <div class="title">Вход</div>
            <div class="input-block">{{> Input label="Логин" }}</div>
            <div class="input-block">{{> Input label="Пароль" }}</div>
        </div>
        <div class="login-form-content">
            {{> Button label="Вход" type="primary" }}
            {{> Button label="Нет аккаунта?" type="link" }}
        </div>
    </Form>
</div>
