<div class="input" >
    <label class="input__container">
    <input
        name={{name}}
        class="input__element"
        placeholder=""
    />
        <div class="input__label">{{label}}</div>
    </label>
</div>
