<ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="signing">Signing</a></li>
    <li><a href="#" page="chats">Chats</a></li>
    <li><a href="#" page="profileView">ProfileView</a></li>
    <li><a href="#" page="profileChange">ProfileChange</a></li>
    <li><a href="#" page="profileResetPass">ProfileResetPass</a></li>
    <li><a href="#" page="notPage404">NotPage404</a></li>
    <li><a href="#" page="notPage500">NotPage500</a></li>
</ul>