<div class="sending-messages">
    <div class="sending-messages__add-file">
        <img src={{add_file}} />
    </div>
    <div class="sending-messages__input">{{> InputMessage placeholder="Сообщение"}}</div>
    <div class="sending-messages__send-btn">
        <img src={{send_message}} />
    </div>
</div>