<div class="messages-view-container">
    <div class="messages-view-container__head">
        {{> ChatHeader }}
    </div>
    <div class="messages-view-container__main">
        здесь будет чат
    </div>
</div>
