.messages-view-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    font-family: Inter;
}

.messages-view-container__head {
    height: 55px;
    padding: 0 20px;
}

.messages-view-container__main {
    height: calc(100vh - 115px);
    width: 100%;
    overflow: hidden;
}

.messages-view-container__date {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #999999;
    text-align: center;
    width: 100%;
    padding: 48px 0 30px 0;
}

.messages-view-container__feed {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;    
}

.messages-view-container__sending-message {
    position: absolute;
    width: calc(100% - 40px);
    padding: 0 20px;
    bottom: 0;
}