<div class="profile-container">
    <div class="profile-avatar">
        {{#each (img_ava)}}
        {{> Avatar }}
        {{/each}}
    </div>
    <div class="profile-name">Иван</div>
    <div class="profile-form">
        <div class="profile-info-block">
            <div class="profile-text-block">
                <div class="profile-text-block__title">Почта</div>
                <div class="profile-text-block__item">pochta@yandex.ru</div>
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Логин</div>
                <div class="profile-text-block__item">ivanivanov</div>
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Имя</div>
                <div class="profile-text-block__item">Иван</div>
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Фамилия</div>
                <div class="profile-text-block__item">Иванов</div>
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Имя в чате</div>
                <div class="profile-text-block__item">Иван</div>
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Телефон</div>
                <div class="profile-text-block__item">+7 (909) 967 30 30</div>
            </div>
        </div>
        <div class="profile-info-block">
            <div class="profile-text-block">
                <div class="profile-text-block__btn profile-text-block__btn--change">Изменить данные</div>
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__btn profile-text-block__btn--change">Изменить пароль</div>
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__btn profile-text-block__btn--exit">Выйти</div>
            </div>
        </div>
    </div>
</div>
