<div class="profile-container">
    <div class="profile-avatar">
        {{#each (img_ava)}}
        {{> Avatar }}
        {{/each}}
    </div>
    <div class="profile-name">Иван</div>
    <Form class="profile-form">
        <div class="profile-info-block">
            <div class="profile-text-block">
                <div class="profile-text-block__title">Почта</div>
                <input class="profile-input" name="email" placeholder="Введите Почту" />
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Логин</div>
                <input class="profile-input" name="login" placeholder="Введите Логин" />
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Имя</div>
                <input class="profile-input" name="first_name" placeholder="Введите Имя" />
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Фамилия</div>
                <input class="profile-input" name="second_name" placeholder="Введите Фамилия" />
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Имя в чате</div>
                <input class="profile-input" name="display_name" placeholder="Введите Имя в чате" />
            </div>
            <div class="profile-text-block">
                <div class="profile-text-block__title">Телефон</div>
                <input class="profile-input" name="phone" placeholder="Введите Телефон" />
            </div>
        </div>
        <div class="profile-info-save">
            {{> Button label="Сохранить" type="primary" }}
        </div>
    </Form>
</div>
