<div class="chat-header">
    <div class="chat-header__avatar">
        {{#each (img_ava)}}
        {{> Avatar }}
        {{/each}}
    </div>
    <div class="chat-header__name">Вадим</div>
    <img src={{img_menu}} />
</div>