<div class="chat-header">
    <div class="chat-header__avatar">
        {{> Avatar img='/src/assets/02.jpg' }}
    </div>
    <div class="chat-header__name">Вадим</div>
    <img src='/src/assets/icons/menu.svg' />
</div>