<main class="container">
    <Form class="login-form login-form--signing">
        <div class="login-form-content">
            <div class="title">Регистрация</div>
            <div class="input-block">{{> Input label="Почта" name="email"}}</div>
            <div class="input-block">{{> Input label="Логин" name="login"}}</div>
            <div class="input-block">{{> Input label="Имя" name="first_name"}}</div>
            <div class="input-block">{{> Input label="Фамилия" name="second_name"}}</div>
            <div class="input-block">{{> Input label="Телефон" name="phone"}}</div>
            <div class="input-block">{{> Input label="Пароль" name="password"}}</div>
            <div class="input-block">{{> Input label="Пароль (еще раз)" name="password"}}</div>
        </div>
        <div class="login-form-content">
            {{> Button label="Зарегистрироваться" type="primary" }}
            {{> Button label="Войти" type="link" }}
        </div>
    </Form>
</main>
