<div class="chat-container">
    <div class="chat-container--left-block">
        {{> ChatsList }}
    </div>
    <div class="chat-container--right-block">
        {{> MessagesView }}
    </div>
</div>