.message-container {
    max-width: 380px;
    padding: 10px;
    border-radius: 5px;
}

.message-container--in {
    left: 20px;
    background: #F8F8F8;
    margin: 0 50px 20px 20px;
}

.message-container--out {
    align-self: flex-end;
    background: #E4EDFD;
    margin: 0 20px 20px 50px;
}

.message-date {
    margin-top: 10px;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    text-align: right;
}

.message-date--in {
    color: #999999;

}

.message-date--out {
    color: #3369F3;
}