.container__img {
    margin-left: 8px;
    height: 8px;
    width: 4px;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inter;
    margin: 0 10px ;
    padding: 20px 0 15px;
    width: calc(100% - 20px);
    height: 74px;
    border-bottom: 1px solid #EAEAEA;
}


.top-container__btn {
    cursor: pointer;
    width: 100%;
    text-align: end;
    font-size: 12px;
    color: #999999
}

.top-container__search {
    width: 100%;
}
