<div class="top-container">
    <div class="top-container__btn">Профиль <img class="top-container__img" src={{img_src}}>
    </div>
    <div class="top-container__search">{{> Search placeholder="Поиск"}}</div>
</div>