.search {
    font-family: Inter;
    width: 100%;
}

.search__element{
    height: 32px;
    width: 100%;
    border: none;
    background: #EFEFEF;
    padding: 0 10px;
    border-radius: 5px;
    box-sizing: border-box;

}

.search__element:focus-visible {
    outline: none;
}
